:root {
  --fontMain: 'Roboto', sans-serif;
  --fontSecondary: 'Raleway', sans-serif;
  --colorPrimary: #212121;
  --colorSecondary: #757575;
  --colorDark: #000000;
  --colorLight: #ffffff;
  --colorLightOpacity: #ffffff99;
  --colorAccent: #2196f3;
  --colorAccentOpacity: #2196f3e5;
  --colorPrimaryIcons: #afb1b8;
  --colorBackdropPlaceholder: #75757580;
  --bgColorDark: #2f303a;
  --bgColorLight: #f5f4fa;
  --bgColorSecondaryIcons: #ffffff1a;
  --borderColorHeader: #ececec;
  --borderColorProjects: #eeeeee;
  --borderColorBackdrop: #21212133;
  --fontStylePrimary: normal;
  --fontWeightMedium: 500;
  --fontWeightBold: 700;
  --fontWeightBlack: 900;
  --fontSize14: 14px;
  --fontSize16: 16px;
  --fontSize18: 18px;
  --fontSize20: 20px;
  --fontSize26: 26px;
  --fontSize36: 36px;
  --fontSize44: 44px;
  --fontSizeFormHeader: 20px;
  --fontSizeFormLabel: 12px;
  --fontSizeFormInput: 12px;
  --lettSpacing-02: 0.02em;
  --lettSpacing-03: 0.03em;
  --lettSpacing-06: 0.06em;
  --lettSpacingFormField: 0.01em;
}

body {
  font-family: var(--fontMain);
  font-size: var(--fontSize14);
  color: var(--colorPrimary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* ===== COMPONENTS ===== */
.styles-for-lists {
  list-style: none;
}

.link-dec {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.website-logo {
  font-family: var(--fontSecondary);
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize26);
  line-height: 1.192;
  letter-spacing: var(--lettSpacing-03);
  color: var(--colorDark);
}

.accent {
  color: var(--colorAccent);
}

.secondary-header {
  margin-bottom: 50px;
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize36);
  line-height: 1.167;
  text-align: center;
  letter-spacing: var(--lettSpacing-03);
}

.tertiary-header {
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize14);
  line-height: 1.143;
  letter-spacing: var(--lettSpacing-03);
  text-transform: uppercase;
}

.social-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-link-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-link-light {
  background-color: var(--colorLight);
}

.social-link-link-dark {
  background-color: var(--bgColorSecondaryIcons);
}

.social-link-link:hover,
.social-link-link:focus {
  background-color: var(--colorAccent);
}

.social-link-icon {
  width: 20px;
  height: 20px;
}

.social-link-icon-light {
  fill: var(--colorPrimaryIcons);
}

.social-link-icon-dark {
  fill: var(--colorLight);
}

.social-link-link:hover > .social-link-icon-light,
.social-link-link:focus > .social-link-icon-light,
.social-link-link:hover > .social-link-icon-dark,
.social-link-link:focus > .social-link-icon-dark {
  fill: var(--colorLight);
}
/* ===== END COMPONENTS ===== */

/* ===== HEADER ===== */
.header-section {
  border-bottom: 1px solid var(--borderColorHeader);
}

.nav-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-section .website-logo {
  margin-right: 93px;
}

.navigation-list {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-list-links {
  font-weight: var(--fontWeightMedium);
  line-height: 1.143;
  letter-spacing: var(--lettSpacing-02);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-links:hover,
.header-list-links:focus {
  color: var(--colorAccent);
}

.header-list-links:hover > svg,
.header-list-links:focus > svg {
  fill: var(--colorAccent);
}

.navigation-list-link {
  color: var(--colorPrimary);
}

.header-contact-link {
  display: flex;
  align-items: center;
  color: var(--colorSecondary);
}

.header-contact-link-icon {
  margin-right: 10px;
  fill: var(--colorSecondary);
}

.envelope-icon {
  width: 16px;
  height: 12px;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
}

.navigation-active-link {
  position: relative;
}

.navigation-active-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  height: 4px;
  background-color: var(--colorAccent);
  border-radius: 2px;
}
/* ===== END HEADER ===== */

/* ===== FOOTER ===== */
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgColorDark);
}

.footer-main-container {
  display: flex;
}

.footer-address-container {
  margin-right: 70px;
}

.footer-section .address {
  margin-top: 20px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.website-logo-dark-theme {
  color: var(--colorLight);
}

.address-list-link {
  font-style: var(--fontStylePrimary);
  line-height: 1.714;
  letter-spacing: var(--lettSpacing-03);
  color: var(--colorLight);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--colorAccent);
}

.address-contact-link {
  color: var(--colorLightOpacity);
}

.footer-headers {
  margin-bottom: 20px;
  color: var(--colorLight);
}

.footer-social-container {
  width: 206px;
  padding-top: 12px;
  margin-right: 78px;
}

.footer__newsletter-container {
  padding-top: 12px;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter__label {
  margin-bottom: 20px;
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize14);
  line-height: 1.143;
  letter-spacing: var(--lettSpacing-03);
  text-transform: uppercase;
  color: var(--colorLight);
}

.newsletter__wrapper {
  display: flex;
}
.newsletter__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  font-size: var(--fontSize16);
  line-height: 1.25;
  letter-spacing: var(--lettSpacing-03);
  color: var(--colorLight);
  background-color: var(--bgColorDark);
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.newsletter__input::placeholder {
  color: var(--colorLightOpacity)
}

.newsletter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize16);
  line-height: 1.875;
  letter-spacing: var(--lettSpacing-06);
  color: var(--colorLight);
  background-color: var(--colorAccent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.149);
  cursor: pointer;
}

.newsletter-icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
/* ===== END FOOTER ===== */

/* ===== MAIN PAGE ===== */

/* ----- HERO ----- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bgColorDark);
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  width: 696px;
  margin: 0 auto;
  text-align: center;
}

.hero-content h1,
.hero-content button {
  letter-spacing: var(--lettSpacing-06);
  color: var(--colorLight);
}

.main-header {
  margin-bottom: 30px;
  font-weight: var(--fontWeightBlack);
  font-size: var(--fontSize44);
  line-height: 1.364;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 41px 10px 42px;
  border: 0px;
  border-radius: 4px;
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize16);
  line-height: 1.875;
  background-color: var(--colorAccent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
/* ----- END HERO ----- */

/* ----- ABOUT US ----- */
.about {
  padding-top: 94px;
}

.about-content {
  display: flex;
}

.about-content-item:not(:last-child) {
  margin-right: 30px;
}

.about-content-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bgColorLight);
  border-radius: 4px;
}

.about-content-icon {
  width: 70px;
  height: 70px;
}

.about-content-header {
  margin-bottom: 10px;
}

.about-content-text {
  line-height: 1.714;
  letter-spacing: var(--lettSpacing-03);
  color: var(--colorSecondary);
}
/* ----- END ABOUT US ----- */

/* ----- WHAT WE DO ----- */
.what-we-do--list {
  display: flex;
  justify-content: space-between;
}

.what-we-do--list-item {
  position: relative;
}

.what-we-do--list-label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize14);
  line-height: 1.143;
  text-align: center;
  letter-spacing: var(--lettSpacing-03);
  text-transform: uppercase;
  color: var(--colorLight);
  background-color: rgba(47, 48, 58, 0.8);
}
/* ----- END WHAT WE DO ----- */

/* ----- TEAM SECTION ----- */
.team {
  background-color: var(--bgColorLight);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item h3,
.team-list-item p {
  font-size: var(--fontSize16);
  line-height: 1.188;
  text-align: center;
  letter-spacing: var(--lettSpacing-03);
}

.team-list-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: var(--fontWeightMedium);
}

.team-list-workplace {
  margin-bottom: 16px;
  color: var(--colorSecondary);
}

.team-social-container {
  width: 206px;
  margin: 0 auto 30px auto;
}
/* ----- END TEAM SECTION ----- */

/* ----- CUSTOMERS SECTION ----- */
.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--colorPrimaryIcons);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--colorAccent);
}

.customers-icon {
  width: 106px;
  height: 60px;
  fill: var(--colorPrimaryIcons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover > .customers-icon,
.customers-list-link:focus > .customers-icon {
  fill: var(--colorAccent);
}
/* ----- END CUSTOMERS SECTION ----- */

/* ===== END MAIN PAGE ===== */

/* ===== PORTFOLIO ===== */
.portfolio-filter-set {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-filter-set-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter-set-btn {
  padding: 6px 22px;
  margin-bottom: 56px;
  border: 0;
  border-radius: 4px;
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSize16);
  line-height: 1.625;
  text-align: center;
  letter-spacing: var(--lettSpacing-03);
  background-color: var(--bgColorLight);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-set-btn:hover,
.portfolio-filter-set-btn:focus {
  color: var(--colorLight);
  background-color: var(--colorAccent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-project-item {
  max-width: 370px;
  border: 1px solid var(--borderColorProjects);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project-item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.portfolio-project-item-link {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--colorPrimary);
}

.portfolio-project-overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.portfolio-project-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  font-size: var(--fontSize18);
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--colorLight);
  background-color: var(--colorAccentOpacity);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-item:hover .portfolio-project-overlay-text {
  transform: translateY(0);
}

.portfolio-project-name {
  margin: 20px 24px 4px 24px;
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize18);
  line-height: 2;
  letter-spacing: var(--lettSpacing-06);
}

.portfolio-project-type {
  margin: 0 24px 20px 24px;
  font-size: var(--fontSize16);
  line-height: 1.875;
  letter-spacing: var(--lettSpacing-03);
  color: var(--colorSecondary);
}
/* ===== END PORTFOLIO ===== */

/* ===== BACKDROP ===== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.cross-icon {
  width: 11px;
  height: 11px;
  fill: #000;
}

.modal__form-header {
  margin-bottom: 12px;
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSizeFormHeader);
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--lettSpacing-03);
}

.application-form{
  display: flex;
  flex-direction: column;
}

.application-form__field {
  margin-bottom: 10px;
  line-height: 1.167;
  letter-spacing: var(--lettSpacingFormField);
}

.application-form__label {
  font-size: var(--fontSizeFormLabel);
  color: var(--colorSecondary);
}

.application-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.application-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--borderColorBackdrop);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  font-size: var(--fontSizeFormInput);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--colorPrimary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form__message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid var(--borderColorBackdrop);
  border-radius: 4px;
  font-size: var(--fontSizeFormInput);
  line-height: 1.167;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-message::placeholder {
  color: var(--colorBackdropPlaceholder);
}

.application-form__input:focus,
.application-form__message:focus {
  border-color: var(--colorAccent);
}

.application-form__input:focus + .application-form__icon {
  fill: var(--colorAccent);
}

.application-form__policy {
  margin: 20px auto 30px auto;
}

.application-form__policy-checkbox {
  position: relative;
}

.application-form__policy-input {
  width: 16px;
  height: 15px;
  border: 2px solid var(--colorPrimary);
  border-radius: 2px;
  cursor: pointer;
  appearance: none;
}

.check-icon {
  position: absolute;
  top: -2px;
  left: 0;
  width: 16px;
  height: 15px;
  background-color: #2196f3;
  border-radius: 2px;
  fill: #fff;
  cursor: pointer;
  visibility: hidden;
}

.application-form__policy-input:checked + .check-icon {
  visibility: visible;
}

.application-form__policy-text {
  line-height: 1.714;
  letter-spacing: var(--lettSpacing-03);
  color: #757575;
}

.application-form__link {
  color: var(--colorAccent);
}

.application-form__btn {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize16);
  line-height: 1.875;
  letter-spacing: var(--lettSpacing-06);
  text-align: center;
  color: var(--colorLight);
  background-color: var(--colorAccent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
/* ===== END BACKDROP ===== */