.portfolio-filter-set {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-filter-set-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter-set-btn {
  padding: 6px 22px;
  margin-bottom: 56px;
  border: 0;
  border-radius: 4px;
  font-weight: $fontWeightMedium;
  font-size: $fontSize16;
  line-height: 1.625;
  text-align: center;
  letter-spacing: $lettSpacing-03;
  background-color: $bgColorLight;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-set-btn:hover,
.portfolio-filter-set-btn:focus {
  color: $colorLight;
  background-color: $colorAccent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-project-item {
  max-width: 370px;
  border: 1px solid $borderColorProjects;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project-item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.portfolio-project-item-link {
  display: block;
  width: 100%;
  height: 100%;
  color: $colorPrimary;
}

.portfolio-project-overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.portfolio-project-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  font-size: $fontSize18;
  line-height: 1.556;
  letter-spacing: $lettSpacing-03;
  color: $colorLight;
  background-color: $colorAccentOpacity;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-item:hover .portfolio-project-overlay-text {
  transform: translateY(0);
}

.portfolio-project-name {
  margin: 20px 24px 4px 24px;
  font-weight: $fontWeightBold;
  font-size: $fontSize18;
  line-height: 2;
  letter-spacing: $lettSpacing-06;
}

.portfolio-project-type {
  margin: 0 24px 20px 24px;
  font-size: $fontSize16;
  line-height: 1.875;
  letter-spacing: $lettSpacing-03;
  color: $colorSecondary;
}