.website-logo {
  font-family: $fontSecondary;
  font-weight: $fontWeightBold;
  font-size: $fontSize26;
  line-height: 1.192;
  letter-spacing: $lettSpacing-03;
  color: $colorDark;
}

.accent {
  color: $colorAccent;
}